h1{
    background-color:#FFA500;
    width:100%;
    border-radius:10px;
    text-align: center;
    padding: 10px;
    border:1px solid black;

}

.circle{
    height:150px;
    width:150px;
    margin:auto;
    border-radius: 50%;
    opacity:0.5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.circle:hover{
    opacity:1;
}


#red{
    background-color:red;
}

#yellow{
    background-color:#FFA500;
}

#green{
    background-color:green;
}